SHOPEE_PARTNER_ID=
SHOPEE_PARTNER_KEY=
SHOPEE_SHOP_ID=
SHOPEE_ACCESS_TOKEN=

LAZADA_APP_KEY=
LAZADA_APP_SECRET=
LAZADA_ACCESS_TOKEN=

TIKTOK_APP_KEY=
TIKTOK_APP_SECRET=
TIKTOK_SHOP_ID=
TIKTOK_ACCESS_TOKEN=

PORT=3001
